@model CoopShopInfos.Models.Shop

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Shop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShopName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShopAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShopAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShopPostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShopPostCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShopCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShopCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShopPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShopPhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ShopId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
